<%= form_with model: [@chat_room, @post], local: true do |form| %>
  <div class="form-group">
    <%= form.text_area :content, placeholder: "Entrez votre message", class: "textarea" %>
  </div>
  <%= form.submit "Envoyer", class: "btn" %>
<% end %>
