/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 nav {
  color: #fff;
  padding-left: 1.5rem;

}

a {
  padding-left: 1.8rem;
}

body {
  font-family: Arial, sans-serif;
  background-color: #111827;
  background-image: url('https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExdXNmYnh3aTY2dGluOWVrNXhxaHRlMHozemszaG9saHEwYzcyYWx3dCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/5I1atAU3taym4/giphy.webp');
  background-size: cover;
  background-position: center center; /* Centre l'image */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  color: #fff;
  padding: 20px;
}

button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: none;
}

input {
  color: black;
}

.title {
  font-size: 24px;
  color: #333;
  text-align: center;
}

.chat-rooms-list, .messages-list {
  margin-top: 20px;
}

.chat-room-item, .message-item {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.chat-room-item h3 {
  margin: 0;
}

.timestamp {
  font-size: 12px;
  color: #777;
}

.form-group {
  margin-top: 20px;
}

.textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.btn:hover {
  background-color: #0056b3;
}
